#section{
  /* background-color: #fffbf7; */
  margin-bottom: 25px;
  max-width: 1100px;
  margin: auto;

}


#explore p{
    width: 100%;
    /* background-color: red; */
    /* margin: auto; */
    font-size: 30px;
    margin-bottom: 25px;
    max-width: 1100px;
    font-weight: 400;
    margin-top: 25px  ;
}
#main-option{
  /* border: 2px solid red; */
  max-width: 1100px;
  /* margin: auto; */
  
}

#first-option .options-1{
  border: 2px solid rgb(208, 196, 196);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* line-height: 5px; */
  padding: 20px 20px;
  border-radius: 5px;
  font-weight: ;
}

#second-option .options-2{
  border: 2px solid rgb(208, 196, 196);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* line-height: 5px; */
  margin-top: 20px ;
  padding: 20px 20px;
  border-radius: 5px;
}
#third-option .options-3{
  border: 2px solid rgb(208, 196, 196);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* line-height: 5px; */
  margin-top: 20px;
  padding: 20px 20px;
  border-radius: 5px;
}
#fourth-option .options-4{
  border: 2px solid rgb(208, 196, 196);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* line-height: 5px; */
  margin-top: 20px;
  padding: 20px 20px;
  border-radius: 5px;
}


